<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="1" thread-count="2" parallel="tests"
	configfailurepolicy="continue">

	<test name="Login" preserve-order="true">
		<classes>
			<class name="step_definitions.Test1" />
		</classes>
	</test>

	<test name="Homepage" preserve-order="true">
		<classes>
			<class name="step_definitions.Test2" />
		</classes>
	</test>

</suite> 
 
 